/* Центрируем доску на экране */
/* Стиль для body */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #fff;
  background: linear-gradient(45deg, #000000, #990000, #000000);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

/* Новый фон для body */
body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.2;
  z-index: -1;
}

.gameboard-container {
  display: flex;
  align-items: center;
  height: 65vh;
}

.gameboard-panel {
  height: 65vh;
  display: flex;
  flex-direction: column;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

main-content {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  padding-top: 60px;
  padding: 20px;
}

#gameboard {
  max-width: 480px;
  max-height: 480px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0 2vh 1vh 2vh;
}

.square {
  height: 60px;
  width: 60px;
  position: relative;
}

.square svg {
  height: 50px;
  width: 50px;
  margin: 5px;
  position: relative;
  z-index: -9;
}

/* Позиционируем элементы относительно */
path {
  position: relative;
  z-index: -10;
}

/* Задаем относительное позиционирование фигур */
.piece {
  position: relative;
  z-index: 9;
}

/* Цвета клеток */
.beige {
  background-color: #f0d9b5;
}

.brown {
  background-color: #b58863;
}

/* Цвета фигур */
.black {
  fill: black;
}

.white {
  fill: white;
}
.messenger-links {
  position: fixed;
  bottom: 50px;
  left: 10px;
  display: flex;
  gap: 10px;
  z-index: 10;
}

.messenger-links a {
  width: 50px;
  height: 1px;
  text-decoration: none;
}

.messenger-links a img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.messenger-links a:hover img {
  transform: scale(1.1);
}
/* Стили для блока с деньгами */
.money {
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 0.1vh 1vh;
  align-items: flex-start;
  margin-bottom: 2vh;
}

/* Стили для информационной панели */
.info-panel {
  display: flex;
}

/* Стили для магазина */
.shop {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 5vh;
}

/* Стили для апгрейдов */
.Upgraid {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Стили для элементов управления */
.controls {
  height: 4vh;

  display: flex;
  justify-content: center;
  align-content: center;
}

.controls button {
  margin: 0.5vh 0.5vh;
}

.playergo {
  display: flex;
  padding: 1vh 1vh;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.playergo p {
  margin: 0;
}

.timer-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-timer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1vh;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 1vh;
}
