body {
    background-color: rgb(37, 37, 37);
}

.container-timer {
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 100px;
    width: auto;
    background-color: rgb(77, 77, 77);
    font-size: 3em;
}

.containerW {
    margin-top: 2em;
}

.containerB {
    margin-bottom: 2em;
}

.white-timer {
    width: 3em;
    background-color:rgb(77, 77, 77);
    color: rgb(184, 184, 184);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.black-timer {
    width: 3em;
    background-color:rgb(77, 77, 77);
    color: rgb(184, 184, 184);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-container {
    width: 2.5em;
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.button-container button {
    border-radius: 11px;
    font-size: 17px;
    height: 6em;
    margin: 5px 0;
    padding: 18px 30px;
    background-color: rgba(198, 190, 190, 0.733);
}
