/* Центрируем доску на экране */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
/*Шапка*/
header {
  width: 100%;
 position: fixed;
 top: -10px;
 left: 0;
 z-index: 1000;
 padding: 10px 0;
}
.header-image{
 display: block;
 width: 100%;
 height: auto;
 object-fit: cover;
}


#gameboard {
  width: 480px;
  height: 480px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
}


.square {
  height: 60px;
  width: 60px;
  position: relative;
}


.square svg {
  height: 50px;
  width: 50px;
  margin: 5px;
  position: relative;
  z-index: -9;
}

/* Позиционируем элементы относительно */
path {
  position: relative;
  z-index: -10;
}

/* Задаем относительное позиционирование фигур */
.piece {
  position: relative;
  z-index: 9;
}

/* Цвета клеток */
.beige {
  background-color: rgb(110, 110, 98);
}

.brown {
  background-color: rgb(169, 43, 43);
}

/* Цвета фигур */
.black {
  fill: black;
}

.white {
  fill: white;
}
